{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ user.username }}de账单{% endblock %}
{% block home_active %}{% endblock %}
{% block consumption_ts_active %}active{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
{#                <p> <span>{{ user.username }} 你好！</span></p>#}
{#                {% if user.Profile.is_student %}#}
{#                    <span style="color: green; ">同学好</span>#}
{#                {% endif %}#}
{##}
{#                <span>{{ dates }}</span>#}
{#                <span>{{ seven_days_consumption }}</span>#}
{#                {% for pay in pay_list %}#}
{##}
{#                    <p><span>{{ pay.buyer_id.username }} </span></p>#}
{#                    <p><span>{{ pay.pay_money }}</span></p>#}
{#                    <p><span>{{ pay.pay_time }}</span></p>#}
{#                {% empty %}#}
{#                {% endfor %}#}
            <h2 style="text-align: center">消费记录</h2>
                <table class="table">
                    <thead class="thead-light">
                      <tr>

                        <th scope="col">编号</th>
                        <th scope="col">产生时间</th>
                        <th scope="col">商店</th>
                        <th scope="col">金额</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for pay_item in pay_list %}

                                <tr>
                                    <th scope="row">
                                        <a href="{% url 'orders_in_pay' pay_item.pk %}">{{ pay_item.pay_No }}</a>
                                    </th>
                                    <td>{{ pay_item.pay_time }}</td>
                                    <td>{{ pay_item.shop.shop_name }}</td>
                                    <td>{{ pay_item.pay_money }}</td>

                                </tr>

                        {% empty %}
                            <p>没有数据哦~</p>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="col-md 6">

                <div id="seven_days_consumption" style="width: 600px;height:400px;"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" >

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('seven_days_consumption'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '近七日消费',
                textStyle:{
                    color: 'black'
                }
            },
            tooltip: {},
            legend: {
                data:['消费'],
                textStyle:{
                    color: 'black'
                }
            },

            xAxis: {
                type: 'category',
                data: {{ dates|safe }}
            },
            yAxis: {
                type: 'value',
                name: '单位：元',
            },
            series: [{
                data: {{ seven_days_consumption|safe }},
                type: 'line',
                symbol: 'triangle',
                symbolSize: 20,
                lineStyle: {
                    color: 'green',
                    width: 4,
                    type: 'dashed'
                },
                itemStyle: {
                    borderWidth: 3,
                    borderColor: 'yellow',
                    color: 'blue'
                }
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    <script>
        console.log('{{ user.Profile.is_student }}');
        console.log('{{ pay_list }}');
    </script>
{% endblock %}