{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ user.username }}de账单{% endblock %}
{% block home_active %}{% endblock %}
{% block consumption_ts_active %}active{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p> <span style="color: white; ">{{ user.username }} 你好！</span></p>
                {% if user.Profile.is_student %}
                    <span style="color: white; ">同学好</span>
                {% endif %}

                <span style="color: white; ">{{ dates }}</span>
                <span style="color: white; ">{{ seven_days_consumption }}</span>
                {% for pay in pay_list %}

                    <p><span style="color: white; ">{{ pay.buyer_id.username }} </span></p>
                    <p><span style="color: white; ">{{ pay.pay_money }}</span></p>
                    <p><span style="color: white; ">{{ pay.pay_time }}</span></p>
                {% empty %}
                {% endfor %}
            </div>
            <div class="col-md 6">

                <div id="seven_days_consumption" style="width: 600px;height:400px;"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" >

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('seven_days_consumption'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '近七日消费',
                textStyle:{
                    color: '#FFFFFF'
                }
            },
            tooltip: {},
            legend: {
                data:['消费'],
                textStyle:{
                    color: '#FFFFFF'
                }
            },

            xAxis: {
                type: 'category',
                data: {{ dates|safe }},
                name:'日期',
                nameTextStyle:{color: '#ffffff'},
                 axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#ffffff'
                            }
                        }

            },
            yAxis: {
                type: 'value',
                name:'单位：元',
                nameTextStyle:{color: '#ffffff'},
                axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#ffffff'
                            }
                        }
            },
            series: [{
                name:'消费金额',
                data: {{ seven_days_consumption|safe }},
                type: 'line',
                smooth: true,

            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    <script>
        console.log('{{ user.Profile.is_student }}');
        console.log('{{ pay_list }}');
    </script>
{% endblock %}