{% extends 'base.html' %}
{% block shop_active %}active{% endblock %}
{% block home_active %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <br>
                <br>
                <br>
                <div class="card" style="width: 18rem;">

                  <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">生日：{{ user.profile.birth|date:"Y-m-d" }}</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ user.Profile.real_name }}</li>
                    <li class="list-group-item">{{ user.profile.sex }}</li>

                  </ul>

                </div>
            </div>
            <div class="col-md-9">
                
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">shop_name</th>
                        <th scope="col">shop_owner</th>
                        <th scope="col">shop_position</th>
                        <th scope="col">入驻时间</th>
                        <th scope="col">简介</th>
                        <th scope="col">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for shop in my_shop_list %}
                            {% if shop.is_active %}
                                <tr>
                                    <th scope="row">{{ shop.pk }}</th>
                                    <td>
                                        <a href="{% url 'shop_info' shop.pk %}">
                                            {{ shop.shop_name }}
                                        </a>
                                    </td>
                                    <td>{{ shop.shop_owner }}</td>
                                    <td>{{ shop.shop_position }}</td>
                                    <td>{{ shop.create_time|date:"Y-m-d" }}</td>
                                    <td>{{ shop.contends|truncatechars:"5" }}...</td>
                                    <td>

                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              店铺管理
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                              <a class="dropdown-item" href="{% url 'create_pay' shop.pk %}">创建账单</a>
                                              <a class="dropdown-item" href="{% url 'create_orders' shop.pk %}">创建订单</a>
                                              <a class="dropdown-item" href="#">修改店铺信息</a>
                                              <a class="dropdown-item" href="{% url 'update_commodity' shop.pk %}">修改商品信息</a>

                                            </div>

                                    </td>
                                </tr>
                            {% endif %}
                        {% empty %}
                            <p>没有数据哦~</p>
                        {% endfor %}
                      
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>








{% endblock %}